// This config is in the KDL format: https://kdl.dev
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// Input device configuration.
input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
            options "ctrl:nocaps,keypad:pointerkeys"
        }
            repeat-delay 220
            repeat-rate 40

    }

    // Next sections include libinput settings.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
        //middle-emulation
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    // Make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}


// Settings that influence how windows are positioned and sized.
layout {
    gaps 4

    // never | always | on-overflow
    center-focused-column "never"

    // widths for "switch-preset-column-width".
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // fixed 1920
    }

    // preset-window-heights { }

    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.

    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    focus-ring {
        // off

        width 2

        // red | #rrggbbaa | rgba(,,,) | hsl(,,,) etc
        active-color "#cec4ff"

        // Color of the ring on inactive monitors.
        inactive-color "#9e89ff"

         active-gradient from="#80ffe3" to="#cec4ff" angle=45

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    border {
        off
    }

    shadow {
        // on

        // draw-behind-window true

        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// Note that running niri as a session supports xdg-desktop-autostart,
spawn-at-startup "kitty" "+kitten" "panel" "-c" "/home/leneth/.config/hypr/kittyconfigbg.conf" "--edge=background" "btop" "--preset" "0"
spawn-at-startup "waybar"
//spawn-at-startup "waypaper-engine" "daemon"
spawn-at-startup "udiskie"
spawn-at-startup "nm-applet"
spawn-at-startup "dunst"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "systemctl --user start plasma-polkit-agent"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

// Ask the clients to omit their client-side decorations if possible.
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
environment {
    DISPLAY ":0"
}

animations {
    // off
    // slowdown 3.0
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}


// Example: enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 3
    clip-to-geometry true
}

//keybinds
binds {
    // XKB key name Mod = Super/Alt depending
    // Most actions that you can bind here can also be invoked programmatically with `niri msg action do-something`.

    Mod+Shift+Slash { show-hotkey-overlay; } //shows a list of important hotkeys.

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return { spawn "kitty" "--single-instance"; }
    Mod+E      { spawn "thunar"; }
    Mod+R { spawn "fuzzel"; }
    Mod+Q { spawn "bash" "-c" "exec pkill -SIGUSR1 '^waybar$'"; }
    Mod+C { spawn "bash" "-c" "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }
    Mod+Shift+C { spawn "rofimoji" "-f" "math" "-a" "clipboard"; }
    Mod+Ctrl+C { spawn "rofimoji" "-f" "all" "-a" "clipboard"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+1%"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-1%"; }
    XF86AudioMute        allow-when-locked=true { spawn "pactl" "set-sink-mute" "@DEFAULT_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp  allow-when-locked=true { spawn "brillo" "-A" "1"; }
    XF86MonBrightnessDown  allow-when-locked=true { spawn "brillo" "-U" "1"; }

    Mod+W { close-window; }


    Mod+Ctrl+Shift+Left  { spawn "wlrctl" "pointer" "move" "-1" "0"; }
    Mod+Ctrl+Shift+Right  { spawn "wlrctl" "pointer" "move" "1" "0"; }
    Mod+Ctrl+Shift+Up  { spawn "wlrctl" "pointer" "move" "0" "-1"; }
    Mod+Ctrl+Shift+Down  { spawn "wlrctl" "pointer" "move" "0" "1"; }

    Mod+Left  { spawn "wlrctl" "pointer" "move" "-10" "0"; }
    Mod+Right  { spawn "wlrctl" "pointer" "move" "10" "0"; }
    Mod+Up  { spawn "wlrctl" "pointer" "move" "0" "-10"; }
    Mod+Down  { spawn "wlrctl" "pointer" "move" "0" "10"; }
    Mod+Shift+Left  { spawn "wlrctl" "pointer" "move" "-50" "0"; }
    Mod+Shift+Right  { spawn "wlrctl" "pointer" "move" "50" "0"; }
    Mod+Shift+Up  { spawn "wlrctl" "pointer" "move" "0" "-50"; }
    Mod+Shift+Down  { spawn "wlrctl" "pointer" "move" "0" "50"; }
    Mod+Z  { spawn "bash" "-c" "sleep 0.1 && wlrctl pointer click left" ; }
    Mod+X  { spawn "bash" "-c" "sleep 0.1 && wlrctl pointer click middle" ; }
    Mod+Menu  { spawn "bash" "-c" "sleep 0.1 && wlrctl pointer click right" ; }
    Mod+F  { spawn "bash" "-c" "wl-kbptr -c ~/.config/wl-kbptr/config" ; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }


    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Mod+Tab { focus-workspace-previous; }

    Mod+Ctrl+H  { consume-or-expel-window-left; }
    Mod+Ctrl+L { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; } //from right
    Mod+Period { expel-window-from-column; }

    Mod+Shift+Ctrl+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Shift+A { maximize-column; }
    Mod+A { fullscreen-window; }

    Mod+Ctrl+A { expand-column-to-available-width; }

    Mod+S { center-column; }

    Mod+Minus { set-column-width "-10%"; } 
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+D       { toggle-window-floating; }
    Mod+Shift+D { switch-focus-between-floating-and-tiling; }

    Mod+T { toggle-column-tabbed-display; }

    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Mod+Shift+S { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+Q { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
